# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_path = "weather.csv"
weather_df = pd.read_csv(csv_path)
weather_df.head(5)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness
0,Hermanus,ZA,1640605066,-34.4187,19.2345,22.17,74,8.64,100
1,Saint Paul Harbor,US,1640605067,57.7900,-152.4072,4.86,84,4.85,69
2,Avarua,CK,1640604893,-21.2078,-159.7750,23.03,78,1.03,53
3,Port Alfred,ZA,1640605067,-33.5906,26.8910,23.00,82,6.18,91
4,Yellowknife,CA,1640605068,62.4560,-114.3525,-30.33,94,4.63,90

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Setup Locations
locations = weather_df[['Lat','Lng']]

In [4]:
# Setup Humidity
humidity = weather_df['Humidity']

In [15]:
# Gmaps
fig = gmaps.figure(center=(46.0,-5.0),zoom_level=2)

# Plot heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [63]:
# Drop Nulls Rows
clean_df = weather_df.dropna()

# Print to check
clean_df.head(5)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness
0,Hermanus,ZA,1640605066,-34.4187,19.2345,22.17,74,8.64,100
1,Saint Paul Harbor,US,1640605067,57.7900,-152.4072,4.86,84,4.85,69
2,Avarua,CK,1640604893,-21.2078,-159.7750,23.03,78,1.03,53
3,Port Alfred,ZA,1640605067,-33.5906,26.8910,23.00,82,6.18,91
4,Yellowknife,CA,1640605068,62.4560,-114.3525,-30.33,94,4.63,90

In [58]:
# Ideal Vacation Spot
temp = clean_df[clean_df["Max Temp"] == 30]
wind = clean_df[clean_df["Wind Speed"] <= 25]
vacation_df = cloud = clean_df[clean_df["Cloudiness"] <= 0]

# Set Index
index_vacation_df = vacation_df.reset_index()
del index_vacation_df["index"]

# Print to check
index_vacation_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness
0,Chui,UY,1640605080,-33.6971,-53.4616,22.35,53,2.56,0
1,Salalah,OM,1640605082,17.0151,54.0924,26.05,61,4.63,0
2,Murray Bridge,AU,1640604856,-35.1167,139.2667,18.16,47,5.19,0
3,Longyearbyen,SJ,1640605092,78.2186,15.6401,-10.09,67,5.66,0
4,Tessalit,ML,1640605097,20.1986,1.0114,25.94,15,5.59,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [70]:
location = index_vacation_df[["Lat","Lng"]]

location_humidity = index_vacation_df["Humidity"].astype(float)

# Plot heat map
location_fig = gmaps.figure(center=(46.0,-5.0),zoom_level=2)

# Create heat layer
location_heat_layer = gmaps.heatmap_layer(location, weights=location_humidity, 
                                 dissipating=False, max_intensity=50,
                                 point_radius=2.5)

# Additional layer
location_fig.add_layer(location_heat_layer)

location_fig

Figure(layout=FigureLayout(height='420px'))

In [135]:
# Store into variable named hotel_df.

hotel_df= index_vacation_df.loc[:,["City","Country","Lat","Lng"]]

# print to check
hotel_df

                         City Country      Lat       Lng
0                        Chui      UY -33.6971  -53.4616
1                     Salalah      OM  17.0151   54.0924
2               Murray Bridge      AU -35.1167  139.2667
3                Longyearbyen      SJ  78.2186   15.6401
4                    Tessalit      ML  20.1986    1.0114
5                  Zhezkazgan      KZ  47.8043   67.7144
6                     Qingdao      CN  36.0986  120.3719
7                     Neuquén      AR -38.9516  -68.0591
8                      Narsaq      GL  60.9167  -46.0500
9                  Champerico      GT  14.3000  -91.9167
10                      Praia      CV  14.9215  -23.5087
11                      Rocha      UY -34.4833  -54.3333
12                      Praia      CV  14.9215  -23.5087
13              Mar del Plata      AR -38.0023  -57.5575
14                       Alta      NO  69.9689   23.2717
15                      Arlit      NE  18.7369    7.3853
16                 Kiryat Gat      IL  31.6100   34.7642
17            Arraial do Cabo      BR -22.9661  -42.0278
18                San Ignacio      BZ  17.1561  -89.0714
19                  Grindavik      IS  63.8424  -22.4338
20                     Seddon      AU -37.8068  144.8916
21                     Loikaw      MM  19.6742   97.2094
22                    Chifeng      CN  42.2683  118.9636
23                 Mossamedes      AO -15.1961   12.1522
24                Broken Hill      AU -31.9500  141.4333
25                      Mahon      ES  39.8885    4.2658
26               Port Augusta      AU -32.5000  137.7667
27         Barra de Tecoanapa      MX  16.5167  -98.7500
28                  Taoudenni      ML  22.6783   -3.9836
29                  Mariehamn      AX  60.0973   19.9348
30                     Garoua      CM   9.3000   13.4000
31                      Bilma      NE  18.6853   12.9164
32                     Pyapon      MM  16.2833   95.6833
33                   Pochutla      MX  15.7432  -96.4661
34                      Yunhe      CN  34.0833  119.7167
35           Nueva Concepción      GT  14.2000  -91.3000
36                 Vila Velha      BR -20.3297  -40.2925
37                      Roald      NO  62.5833    6.1333
38                   Balkhash      KZ  46.8440   74.9804
39                      Rivne      UA  50.6231   26.2274
40                East London      ZA -33.0153   27.9116
41                   Necochea      AR -38.5473  -58.7368
42                    Sunbury      AU -37.5833  144.7333
43  Departamento de Maldonado      UY -34.6667  -54.9167
44                   Jinchang      CN  38.4953  102.1739
45                      Aswān      EG  24.0934   32.9070
46                     Ixtapa      MX  20.7000 -105.2000
47                     Tandil      AR -37.3217  -59.1332
48                 Talcahuano      CL -36.7167  -73.1167
49      San Miguel de Tucumán      AR -26.8241  -65.2226
50                    Formosa      AR -26.1775  -58.1781
51                  Iranshahr      IR  27.2025   60.6848
52                     Matara      LK   5.9485   80.5353
53         Comodoro Rivadavia      AR -45.8667  -67.5000

In [136]:
# add a row to store the hotel names from gmaps
hotel_df["Hotel"]= ""

In [162]:
# Gmaps search

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"radius": 5000,"types" : "hotel","keyword" : "hotels","key" : g_key}

In [71]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure